body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/starry.jpg");

  /* Set a specific height */
  height: 75%;

  /* Position and center the image to scale nicely on all screens */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

h1{ border-bottom-style: solid;
    border-bottom: grey;
    border-block-width: 2px;
    font-family:'Fira Sans', sans-serif;
}
.container {
  position: relative;
  text-align: center;
  color: white;
  width: 200%;
}
.container .btn{
  position: absolute;
  top: 70%;
  left: 40%;

  cursor: pointer;
    border: 1px solid white;
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: white;
    text-emphasis-color: white;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    text
}
.centered {
  

  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
}





.btn{
    cursor: pointer;
    border: 1px solid white;
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: white;
    text-emphasis-color: white;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    border-radius: 15px;

}

.hero-image2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("light.jpg");
    height: 55%;


    /* Position and center the image to scale nicely on all screens */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}


.hero-text2 {
    text-align: center;
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    
  }

.btn2{
    cursor: pointer;
    border: 1px solid white;
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: white;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    border-radius: 15px;    
}

div.item {
  vertical-align: top;
  display: inline;
  text-align: center;
  width: 120px;
}
img {
  width: 100px;
  height: 100px;
  background-color: grey;
}
.caption {
  display: inline-block;
}


.grid1 { margin-top: 20px; display: flex; grid-template-columns: repeat(3, minmax(min-content, 200px)); justify-content: center; column-gap: 20px; } 
img { width: 400px; height: 400px; object-fit: cover; background-size: cover; background-image: center center; }

.image-fig { width: 200px; height: 200px; border: 1px solid black; }






.grid2 {margin-top: 50px;

    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
  }

  .cell {
  flex: 0 0 32%;                       /* don't grow, don't shrink, width */
  height: 50px;
  margin-bottom: 5px;
  background-color: #999;
}
.cell1{
  margin-left: 50px;
}
cell4{
  margin-left: 50px;
}
.cell:nth-child(3n) {
  background-color: #F00;
}
}
.gallery__img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}



.btn3{ cursor: pointer;
  border: 1px solid white;
  background-color:rgb(74, 190, 190);
  height: 50px;
  width: 200px;
  color:white;
  font-size: 15px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  margin-left: 20px;
      
}
.portbtn{
  text-align: center;
}
h1{ text-align: center; font-family:'Fira Sans', sans-serif;}
h2{text-align: center; font-family:'Fira Sans', sans-serif;}
h3{text-align: center; font-family:'Fira Sans', sans-serif;}
p{ font-family: 'Fira Sans', sans-serif;}

.firstimage{
  filter: grayscale(100%);
}


.our-clients {
	width: 100%;
	height: auto;
	text-align: center;
  row-gap: 40px;
}

.our-clients ul {
	padding: 0;
	margin: 0;
}

.our-clients ul li {
	list-style: none;
	display: inline-block;
	width:180px;
	height:100px;
	position: relative;
	overflow: hidden;
	cursor:pointer;
	margin: 10px;
	box-shadow: 0px 0px 10px -7px #555;
	transition: .5s;
}

.our-clients ul li img {
	width: 100%;
	height: 100%;
}
.our-clients ul li img:nth-child(1) {
	transform: translateY(0);
	transition: .5s;
}
.our-clients ul li img:nth-child(2) {
	transform: translateY(0);
	transition: .5s;
}


.our-clients ul li:hover img:nth-child(1) {
	transform: translateY(-100%);
	transition: .5s;
}
.our-clients ul li:hover img:nth-child(2) {
	transform: translateY(-100%);
	transition: .5s;
}
.bw{
  filter: grayscale(100%);
}


.bnc{
  row-gap: 40px;
  column-gap: 40px;
}
.footer{
  text-align: center;
  height: 380px;
  padding: 3px;
  background-color:rgb(21, 29, 29);
  color: white;
  text-align: center;
}
.caption{
  font-family:'Fira Sans', sans-serif
}

.footext{
  width: 330px;
  margin-left: 600px;
  padding-bottom: 20px;
  margin-top: 80px;
  border-bottom: white 3px solid;
  margin-bottom: 40px;
  font-weight: 500;
}
.bnctxt{
  margin-top: 200px;
}
.gallerytxt{
  margin-top: 100px;
  border-bottom: grey 1.2px solid;
  margin-left: 500px;
  margin-right: 500px;
}

.happening{
  margin-top: 100px;
  border-bottom: grey 1.2px solid;
  margin-bottom: 60px;
  margin-left: 500px;
  margin-right: 500px;

}

.herocontainer{
  position: relative;
  text-align: center;
  color: white;
  width: 200%;
}


.proheroImage {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url("https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
	height: 50%;
	background-position: center;
	background-repeat: repeat;
	position: relative;
  object-fit: contain;
  text-align: justify;
  max-width:100%;
max-height:100%;
width: 100%;


}

.proheroContents {
	padding-top: 25px;
	text-align: center;
	color: white;
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 100px;
  margin-top: 50px;
}
.probookButton {
  background-color:transparent;
  border: none;
  color: white;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
}