.hero-container{
                display: flex;
              
                width: 100%;
                height: 500px;
                margin: 0;
                justify-content: center;
                flex-wrap: wrap;
                background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../assets/images/starry.jpg");
                

                
} 

.hero2-container-text{
   
  margin-bottom: 50px;
  flex-direction: column;
  color: white;
  font-weight: 200;
  text-align: center;
}
.hero-container-heading{ font-weight: 300px;
    
}


.hero2-container{
    display: flex;
  
    width: 100%;
    height: 400px;
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../assets/images/light.jpg");
    

    
} 

.hero2-container-text{

margin-top: 100px;
flex-direction: column;
color: white;
font-weight: 200;
text-align: center;
}





.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    object-fit: cover;
  }
  .brandheading{
      text-decoration: underline;
  }



   
    @media only screen and (max-width: 600px) {
    .card-image-top{ height: 200px;
      width: 200px;
      
    }
  }


  @media only screen and (max-width: 600px) {
    div.card-group{
  